<div>

  <!--  Table of all the office hours-->
  <div>
    <h2>Office Hours (GET)</h2>
    <table class="table-field">
      <tr>
        <th>ID</th>
        <th>Class</th>
        <th>Location</th>
        <th>Zoom Link</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
      <tr *ngFor="let oh of officeHours; index as i">
        <td>{{ oh.id }}</td>
        <td>{{ oh.course_name }}</td>
        <td>{{ oh.location }}</td>
        <td>{{ oh.zoom_link }}</td>
        <td>{{ oh.start_time }}</td>
        <td>{{ oh.end_time }}</td>
      </tr>
    </table>
    <button (click)="getData()">Refresh</button>
  </div>

  <!--  Form to add an office hour session -->
  <div>
    <h2>Add Office Hour (POST)</h2>
    <div>
      <div class="form-field">
        <label>ID: </label>
        <input [(ngModel)]="input.id"/>
      </div>
      <div class="form-field">
        <label>Location: </label>
        <input [(ngModel)]="input.location"/>
      </div>
      <div class="form-field">
        <label>Start Time: </label>
        <input [(ngModel)]="input.start_time"/>
      </div>
      <div class="form-field">
        <label>End Time: </label>
        <input [(ngModel)]="input.end_time"/>
      </div>
      <div class="form-field">
        <label>Class: </label>
        <input [(ngModel)]="input.course_name"/>
      </div>
      <div class="form-field">
        <label>Link: </label>
        <input [(ngModel)]="input.zoom_link"/>
      </div>
    </div>
    <button (click)="postData()">Add</button>
  </div>


  <!-- Form to remove an office hour session -->
  <div>
    <h2>Remove Office Hour Session (DELETE)</h2>
    <div class="form-field">
      <label>Course ID: </label>
      <input [(ngModel)]="input.id" placeholder="ID">
    </div>
    <button (click)="deleteData()">Remove</button>
  </div>

</div>
