table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: left;
  font-size: large;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

button {
  border-radius: 5px;
  background-color: lightgrey;
  border-color: black;
  font-size: medium;
  min-width: 100px;
  transition-duration: 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: white;
}

label {
  display: inline-block;
  min-width: 150px;
  font-size: large;
}

input {
  font-size: large;
  min-width: 300px;
}

.table-field {
  margin: 10px;
}

.form-field {
  margin: 10px;
}
